{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Cenas - Sabor PROA</title>
    <link rel="stylesheet" href="{% static 'menu/estilos.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'menu/banner.jpg' %}" alt="Banner del restaurante">
        <h1>Sabor PROA</h1>
        <nav>
            <a href="/">Inicio</a>
            <a href="/desayunos/">Desayunos</a>
            <a href="/almuerzos/">Almuerzos</a>
            <a href="/cenas/">Cenas</a>
        </nav>
    </header>
    <main>
        <h2>Cenas</h2>
        <ul>
            <li>Pechuga de pollo</li>
            <li>Sopa de verduras</li>
            <li>Pescado al horno</li>
            <li>pure de papas con albondigas</li>
            <li>Pizzas con tomate</li>
        </ul>
    </main>
</body>
</html>
