body {
    font-family: Arial, sans-serif;
    background-color: #e7f0fff8;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #2c99f1f8;
    padding: 20px;
}

header img {
    max-width: 100%;
    height: auto;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}